$padding-side:13%;

/*-------------------------------*/
//--------#NAVBAR HOME-----------//
/*-------------------------------*/

.promotional-banner-one {
  position:fixed;
  bottom:0;
  background-color: $e-green-six;
  height:15vh;
  width:100%;
  h2 {

    text-align:center;
    line-height:15vh;
    color: white;
    span {
      text-decoration: underline;
      font-size: 2.5rem;
      font-weight:bold;
    }
  }
}
/*-------------------------------*/
//--------#NAVBAR HOME-----------//
/*-------------------------------*/
#navbar-home {
  z-index:1;
  position:absolute;
  top: 0;
  height:15vh;
  padding: 1rem $padding-side 0 $padding-side;
  color: rgb(50, 50, 40);
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

#devise-button {
width:40%;
  display:flex;
  justify-content:space-between;
}

/*-------------------------------*/
//---------#BANNER HOME----------//
/*-------------------------------*/

#banner-home {
  padding:25vh $padding-side 0 $padding-side;
  width:100%;
  height:87vh;
  color:$e-green-three;
  position:relative;
  img {
    z-index:-1;
    position:absolute;
    bottom:0;
    right:2rem;
    width:40%;
  }
}

    #banner-home--title {
      width:70%;
      h1 {
        text-transform: uppercase;
        font-size: 3.5rem;
        font-weight: bolder;
      }
      a {
        margin: 2rem 0;
        width:70%;
        text-align:center;
        display:block;
      }
    }

  /*-------------------------------*/
  //----------#STATISTIC-----------//
  /*-------------------------------*/

#statistic {
  color:white;
  padding: 1rem $padding-side;
  background-color: $e-green-three;
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  height:100%;
}

    #udemy-subscriptions {
      img {
        display:block;
        margin: 0 auto;
      }
    }
    #udemy-rating {
      h3 {
        margin-bottom: 0.5rem;
      }
      li {
        list-style:none;
        display:inline;
        font-size: 2rem;
        color: $yellow;
      }
    }

  /*-------------------------------*/
  //---------#SOCIAL PROOF---------//
  /*-------------------------------*/

#social-proof {
  padding: 0 $padding-side;
}

    #social-proof--images {
      width:100%;
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-gap:1rem;
    }
      .img-feedback {
        width:100%;
        border-radius:5px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
      }

  /*-------------------------------*/
  //---------#SOCIAL PROOF---------//
  /*-------------------------------*/

#value-proposition {
  padding: 0 $padding-side;
  h4 {
    margin: 2rem 0 1rem 0;
  }
  p {
    padding-left: 1rem;
  }
  a {
    margin: 2rem auto;
    width:25%;
    text-align:center;
    display:block;
  }
}
#kind-student {
  color:white;
  padding: 2rem $padding-side;
  background-color: $e-green-three;
  align-items:start;
  height:100%;
  h2, p {
    margin-bottom: 1rem;
  }
}

#program-exceltips {
  padding: 0 $padding-side;
  li {
    margin: 1rem 0;
    list-style:none;
  }

}
#price-section {
  padding: 0 $padding-side;
}

#student-section {
  color:white;
  padding: 2rem $padding-side;
  background-color: $e-green-three;
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  height:100%;
}


#callback-value {
  color:white;
  padding: 2rem $padding-side;
  background-color: $e-green-three;
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  height:100%;
}
#who-ami {
  padding: 0 $padding-side;
}
    #who-ami--body {
      display:flex;
      justify-content:space-between;
      align-items:center;
    }
        #who-ami--description {
          width:60%;
          span {
            margin: 1rem 0;
            display:flex;
            justify-content:flex-start;
            align-items:center;
            i {
              margin-right: 0.5rem;
            }
          }
        }

#why-exceltips {
  padding: 0 $padding-side;
  margin-bottom: 2rem;
  span:not(:first-child) {
    margin: 1rem 0;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    i {
      margin-right: 0.5rem;
    }
  }
}
#faq-section {
  margin-bottom:2rem;
  padding: 0 $padding-side;
}
#footer {
  padding: 2rem $padding-side;
  background-color: $e-green-three;
  width:100%;
  p:last-child {
    text-align:center;
  }
}
    #footer--body {
      display:flex;
      justify-content:space-between;
      align-items:start;
    }


/*------------------------------------*\
  #OVERWRITTING BOOTSTRAP
\*------------------------------------*/

.modal-content {
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  border: 0px;
}
.modal-header {
  padding: 0 1rem;
  border:0px;
}
.modal-body {
  display:flex;
  text-align:center;
  flex-direction:column;
  justify-content:center;

}
.modal-footer {
  display:flex;
  justify-content:space-around;
  border-top: 0px;
}

.stripe-button-el {
  background-image: none !important;
 span {
  background: $e-green-three !important;
  }
}

/*------------------------------------*\
  #RESPONSIVENESS
\*------------------------------------*/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  body {
    font-size:50%;
  }

  .not-active-link-home {
    margin: 0rem 0rem 1rem 0rem;
    flex-direction:column;
    display:block;
  }
  #banner-home {
    text-align:center;
    padding: 20vh $padding-side 0 $padding-side;
    img {
      width:58%;
    }
  }
  #banner-home--title {
    width:100%;
    h1 {
      font-size: 2rem;
    }
    a {
      margin: 1rem 0 0 0 ;
      width:100%;
    }
  }
  #statistic {
    flex-direction:column;
    align-items:center;
  }
  #social-proof--images {
    grid-template-columns: 1fr;
  }
  #value-proposition a {
    width:100%;
  }

  #program-exceltips {
    .card-course {
      flex-direction:column;
    }
      .card-course--right,
      .card-course--left {
        max-width:100%
      }
  }

  #price-section {
    .card-price span {
      justify-content:center;
    }
    .card-price--body,
    .card-price--footer {
      width:100%;
      text-align:center;
      h6 {
        font-size: 0.8rem;
      }
    }
    .card-price--footer {
      display:block;
    }
  }

  #student-section {
    padding: 1rem 10%;
    display:block;
    text-align:center;
    h2, h3 {
      margin-bottom: 0.5rem;
    }
  }

  #who-ami--body {
    display:block;
    #avatar-home {
      width:40%;
      display:block;
      margin: 0 auto;
    }
    #who-ami--description {
      width:100%;
    }
  }
  #callback-value {
    display:block;
    h4, h5 {
      text-align:center;
      margin-bottom: 0.5rem;
    }
  }
  #footer--body {
    text-align:center;
    display:block;
    img {
      display:block;
      margin: 0 auto 0.5rem auto;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) and (min-width: 400px){
  body {
    font-size:50%;
  }
  .not-active-link-home {
    margin: 0rem 0rem 1rem 0rem;
    flex-direction:column;
    display:block;
  }
  #banner-home {
    text-align:center;
    padding: 20vh $padding-side 0 $padding-side;
    img {
      width:70%;
    }
  }
  #banner-home--title {
    width:100%;
    h1 {
      font-size: 2rem;
    }
    a {
      margin: 1rem 0 0 0 ;
      width:100%;
    }
  }
  #statistic {
    flex-direction:column;
    align-items:center;
  }
  #social-proof--images {
    grid-template-columns: 1fr;
  }
  #value-proposition a {
    width:100%;
  }

  #program-exceltips {
    .card-course {
      flex-direction:column;
    }
      .card-course--right,
      .card-course--left {
        max-width:100%
      }
  }

  #price-section {
    .card-price span {
      justify-content:center;
    }
    .card-price--body,
    .card-price--footer {
      width:100%;
      text-align:center;
      h6 {
        font-size: 0.8rem;
      }
    }
    .card-price--footer {
      display:block;
    }
  }

  #student-section {
    padding: 1rem 10%;
    display:block;
    text-align:center;
    h2, h3 {
      margin-bottom: 0.5rem;
    }
  }

  #who-ami--body {
    display:block;
    #avatar-home {
      width:40%;
      display:block;
      margin: 0 auto;
    }
    #who-ami--description {
      width:100%;
    }
  }
  #callback-value {
    display:block;
    h4, h5 {
      text-align:center;
      margin-bottom: 0.5rem;
    }
  }
  #footer--body {
    text-align:center;
    display:block;
    img {
      display:block;
      margin: 0 auto 0.5rem auto;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  $padding-side:1rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and  (max-width: 1100px) and (min-width: 992px){
  $padding-side:1rem;
  #banner-home {
    img {
      width:70%;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {

}
