/*-------------------------------*/
//--------#CSS POSITION----------//
/*-------------------------------*/


#display-progression {
  padding: 1%;
  width:100%;
  height:94vh;
  overflow-y:auto;
}

/*-------------------------------*/
//-------#PROGRESSION HEADER-----//
/*-------------------------------*/

#progression-header{
  min-height: 10%;
  display:flex;
  align-items:center;
}

.progression-doc {
  width: 35%;
  display:flex;
  justify-content:space-around;

}

/*-------------------------------*/
//-------#PROGRESSION HEADER-----//
/*-------------------------------*/


#progression-body {
  align-items:center;
  margin: 15px auto;

}


/*-------------------------------*/
//-------#PROGRESSION COMMENT----//
/*-------------------------------*/

.add-comment-section {
  margin: 40px 90px 20px 90px;
  width: 80%;
  display:grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 11fr;
  grid-template-areas:
      "one two"
  ;
  .avatar-comment {
    grid-area: one;
  }
  .create-comment-section {
    grid-area:two;
  }
}

    .create-comment-section {
      width:100%;
      .form-control {
        border: none;
        box-shadow: $box-shadow;
        height:100%;
      }
    }
.comments-section {
  margin: 0 10%;
  width:70%;
}



/*-------------------------------*/
//---------#OTHER STUFF----------//
/*-------------------------------*/

// FONT
#title-progression {
  flex-grow:1;
  font-weight:bold;
}


// VIDEO
.video-youtube {
  margin: 0px 90px;
  width:80%;
  min-height:60vh;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.coming-soon {
  background-color: rgba($e-green-two, 0.9);
  h4 {
    color: $e-green-three;
    font-weight:bold;
  }

}
