<div class="card-large">
  <img src="https://picsum.photos/seed/picsum/180/120" alt="">
  <div class="inside-card-large">
    <h6><%= course.title %></h6>
    <p><%= course.description %></p>
  </div>
  <div class="status-card">
    <i class="fas fa-check-circle"></i>
  </div>
</div>