<!-- CARD LARGE FOR DASHBOARD -->
<!-- =========================================== -->
<!-- NOT DOWN -->
<div class="card-large">
  <img src="https://picsum.photos/seed/picsum/180/120" alt="">
  <div class="inside-card-large">
    <h4>Title course</h4>
    <p>Descritpion course</p>
  </div>
  <div class="status-card">
    <%= image_tag 'notdown' %>
  </div>
</div>
<!-- =========================================== -->
<!-- DONE -->
<div class="card-large">
  <img src="https://picsum.photos/seed/picsum/180/120" alt="">
  <div class="inside-card-large">
    <h4>Title course</h4>
    <p>Descritpion course</p>
  </div>
  <div class="status-card">
    <i class="fas fa-check-circle"></i>
  </div>
</div>
<!-- CARD SMALL FOR DASHBOARD_TWO -->
<!-- =========================================== -->
<!-- NOT DOWN -->
<div class="card-small">
  <div class="status-card">
    <%= image_tag 'notdown'%>
  </div>
  <div class="inside-card-small">
    <h4>Title course</h4>
    <p>Descritpion course</p>
  </div>
</div>
<!-- =========================================== -->
<!-- DOWN -->
<div class="card-small">
  <div class="status-card">
    <i class="fas fa-check-circle"></i>
  </div>
  <div class="inside-card-small">
    <h4>Title course</h4>
    <p>Descritpion course</p>
  </div>
</div>