<div class="dashboard-two">
  <div class="progression-circle">
    <h2>Exceltips</h2>
    <%= render partial: 'shared/progression' %>
  </div>
  <div class="navigation-box">
    <% courses.each do |course| %>
      <%= render partial: 'shared/card_small', locals: { course: course} %>
    <% end %>
  </div>
</div>