<div class="dashboard-one">
  <div class="progression-circle">
    <%= image_tag "logo_exceltips.png", class: 'logo-avatar' %>
    <%= render partial: 'shared/progression' %>
  </div>
  <div class="navigation-box">
    <%= link_to progressions_path, class:"box active-dashboard" do  %>
      <i class="fas fa-book-open"></i>
      <p class="text-link">Exceltips - Formation</p>
    <% end %>
    <%= link_to destroy_user_session_path, method: 'delete', class:"box" do %>
      <i class="fas fa-sign-out-alt icon-dashboard"></i>
      <p class="text-link">Se déconnecter</p>
    <% end %>
  </div>
</div>
