<div id="navbar-home">
  <div id="navbar-logo">
  <%=image_tag "logo_exceltips.png", class: 'logo-avatar' %>
  </div>
  <div id="navbar-button">
    <% if user_signed_in? %>
      <%= link_to 'Ma formation', progressions_path, class: 'button-navbar' %>
    <% else %>
      <%= link_to 'Se connecter', new_user_session_path, class: 'button-navbar' %>
    <% end %>
  </div>
</div>
<div class="banner-navbar">
  <%= link_to 'Acheter la formation', new_charge_path, class: 'button-navbar active-navbar'%>
</div>
