<%= render partial: 'shared/navbar_dashboard', locals: { course: @course}  %>
<div class="wrapper-global">
  <%= render partial: 'shared/dashboard_two', locals: { course: @course, courses: @courses}  %>
  <div class="display-course">
    <%= @course.title %>
  </div>
</div>