/*-------------------------------*/
//-----------#LARGE CARD---------//
/*-------------------------------*/

.card-large {
  display: grid;
  grid-template-columns: 12% 70% 5%;
  grid-gap: 1rem;
  border-width: 1px 1px 1px 1px;
  border-style:solid;
  border-color:rgba($gray, 0.3);
  border-radius: 15px;
  width:90%;
  min-height: 5rem;
  margin: 1rem 0%;
  & img {
    width:100%;
    height: 90%;
    margin: auto 4%;
    border-radius: 15px;
  }
  &:hover {
    background-color: $e-green-two;
    opacity: 0.8;
  }
}
.inside-card-large {
  text-align: left;
  margin: 2% 3%;
  h4 {
    margin-bottom: 2%;
  }
}

.status-card {
  font-size: 2rem;
  margin: auto;
  & .bi-circle-half {
  fill:$orange;
  }
  img {
    width: 32px;
    margin: auto 4%;
    border-radius: 15px;
  }
}

/*-------------------------------*/
//-----------#SMALL CARD---------//
/*-------------------------------*/

.card-small {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-gap: 10px;
  border-width: 1px 1px 1px 1px;
  border-style:solid;
  border-color:rgba($gray, 0.3);
  border-radius: 15px;;
  max-width:340px;
  margin: 2%;
  & .inside-card {
    text-align: left;
    margin: auto 3%;
  }
  h6 {
    margin: 5% 0;
  }
}




/*-------------------------------*/
//---------#COMMENT CARD---------//
/*-------------------------------*/
.card-comment {
  margin-left:30px;
  padding-bottom:10px;
  margin-bottom: 15px;
  display:grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 11fr;
  grid-template-areas:
      "one two"
  ;
  .avatar-comment {
    align-content:center;
    grid-area: one;
  }
  .comment-message {
    grid-area: two;
  }
}
      .comment-message {
        width:100%;
        border-radius: 15px;
        box-shadow: $box-shadow;
        background-color: rgba(0, 0, 0, 0.02);
        padding: 1rem;
        p:nth-child(2){
          font-weight:lighter;
          font-size: 0.8rem;
          color: rgba(black, 0.6);
        }
      }
      .border-comment {
        text-align:start;
        font-weight:lighter;
        font-style: lighter;
      }

.card-course {
  padding: 1rem;
  border-radius:5px;
  width:100%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  display:flex;
  align-items:center;
  justify-content:space-between;
}

    .card-course--left {
      max-width:32%;
      text-align:center;
      h4 {
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        &:first-child {
          color: $e-green-three;
        }
      }
    }
    .card-course--right {
      max-width:65%;
      flex:2;
      p {
        margin: 0.5rem 0;
      }
    }


  /*-------------------------------*/
  //-----------#PRICE CARD---------//
  /*-------------------------------*/

.card-price {
  margin: 2rem auto;
  padding: 1rem 7%;
  width:50%;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  align-items:center;
  position:relative;
}

    #label-promotion {
      display:flex;
      justify-content:center;
      align-items:center;
      width:30%;
      height:30%;
      border-radius: 50%;
      background-color: $e-green-two;
      box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
      position:absolute;
      top:-10%;
      right:-10%;
      h5 {
        color: white;
        font-size: 3rem;
        font-weight:bold;
        margin:auto;
      }
    }

    .card-price--header {
      text-align:center;
      h6 {
        font-size:2rem;
        font-weight:bold;
        transform: translateY(-80%);
      }
    }

          .card-price--header--price {
            display:flex;
            justify-content:center;
            align-items:center;
            h2 {
              font-weight:bold;
              font-size: 8rem;
              span {
                font-size: 1.3rem;
              }
            }
            p {
              transform: translateY(-90%);
              font-size: 1.2rem;
              text-decoration: line-through;
            }
          }

    .card-price--body {
      h6 {margin:0.7rem 0;}
    }
    .card-price--footer {
      text-align:center;
      margin-top:1rem;
      a {
        display:block;
        text-align:center;
        margin: 2rem auto;
      }
      p {
        padding: 0.5rem 0;
        font-size:0.8rem;
        color:$gray;
      }
    }

 /*-------------------------------*/
 //-----------#FAQ CARD-----------//
 /*-------------------------------*/

.card-faq {
  width:100%;
  padding: 1rem;
  border-radius:5px;
  width:100%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  text-align:center;
  margin-bottom:1rem;
  h4 {
    color: $e-green-three;
    margin-bottom: 0.5rem;
  }

}
/*-------------------------------*/
//-----------#OTHER CARD---------//
/*-------------------------------*/
// IMAGE INSIDE CARD
.image-course {
  height: 60px;
}


// NOT VISITED CARD
.not-visited {
  opacity: 0.7;
  background-color:rgba($gray, 0.2)
}

