/*-------------------------------*/
//-------#FIRST DASHBOARD--------//
/*-------------------------------*/

.dashboard-one {
  height: 100vh;
  width: 359px;
  position:fixed;
  z-index:1;
  background-color: $e-green-three;
}
.dashboard-one:hover {
    width:359px;
    .text-link {
      display:block;
    }
}

.progression-circle {
  img {
    display:block;
    margin: 0.5rem auto;
  }
  .progress {
    margin: 0.5rem auto;
    width: 50%;
  }
  .progress-bar {
    background-color: rgba($orange, 0.7);
    box-shadow:$box-shadow;
    &.complete {
      background-color: $green;
    }
  }

}



.box {
  max-width: 360px;
  max-height: 80px;
  padding: 1rem 0 1rem 2rem;
  margin: 2rem auto;
  display:grid;
  grid-template-columns: 15% 70%;
  grid-gap: 20px;
  border-radius: 10px;
  border-right: 7px solid $e-green-three;
  &:hover:not(.active-dashboard) {
  background-color: $e-green-two;
  border-right: 7px solid $e-green-two;
  opacity: 0.8;
  cursor:pointer;
  }
  p {
    margin: auto 0px;
  }
  .fa-book-open,
  .fa-sign-out-alt {
    font-size:30px;
    margin: 0 auto;
    line-height: unset !important;
  }
}

.active-dashboard {
  background-color: $e-green-two;
  opacity: 0.9;
  border-right: 7px solid $e-green-six;
}

/*-------------------------------*/
//-------#SECOND DASHBOARD-------//
/*-------------------------------*/


.dashboard-two {
  height: 100vh;
  width: 359px;
  position:fixed;
  background-color: $e-green-three;
}

.navigation-box {
  width:100%;
  height: 78%;
  overflow-y: scroll;
}

