/*-------------------------------*/
//----------#ICON HOME-----------//
/*-------------------------------*/

.fa-caret-right {
  font-size: 2rem;
  color: $e-green-three;
}

.far.fa-check-circle {
  font-size:1.25rem;
  color: $green;
  background-color: rgba($e-green-three, 0.3);
  border-radius: 100%;
}

/*-------------------------------*/
//------#PROGRESSION ICON--------//
/*-------------------------------*/

.fas.fa-check-circle {
font-size: 32px;
color: $e-green-six;
}
