<div class="create-container">
  <div id="card-thanks-purchase">
    <h2>Ton paiement vient d'être effectué !</h2>
    <br>
    <h2>C'est maintenant que l'aventure Exceltips commence !</h2>
    <br>
    <h3>Déjà, un grand merci pour ta confiance.</h3>
    <br>
    <h4>Pour la suite, si tu as la moindre question n'hésite surtout pas à m'envoyer un mail ou à poster un commentaire dans le cours.</h4>
    <br>
    <h4>Maintenant, je t'invite à te créer un compte pour que tu puisse avoir accès à la plateforme</h4>
    <%= link_to "Me créer un compte", new_user_registration_path, class:"button-navbar" %>
  </div>
</div>
